@charset "utf-8";

/* html文書共通設定 */
* {
  padding: 0;
  color: white;
}

/* ボタン共通設定 */
button {
  outline: none;
  border-style: none;
  margin: 3%;
  background-color: gray;
  opacity: 0.9;
}

html {
  height: 100%;
}

body {
  background-image: url("/img/430995121-539072_3840x2160-48XV-1920x1080-MM-100.jpg");
  font-family: sans-serif;
  height: 100%;
  margin: auto;
}

#start-page {
  display: none;
}

#start-btn-state0 {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
}

#start-btn-state1 {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  display: none;
}

#startup-animation-page {
  display: none;
}

#startup-animation-page p {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: 120px;
  height: 120px;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
}

.spinner.type1 {
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: #fff rgba(255, 255, 255, 0.12) rgba(255, 255, 255, 0.12);
  /* ローディング要素のアニメーションを指定 */
  -webkit-animation: spinner1_1 1.5s infinite linear forwards;
  animation: spinner1_1 1.5s infinite linear forwards;
}

.spinner.type1 span {
  /* Loading テキストのアニメーションを指定 */
  animation: spinner_loading_text 1.5s infinite linear forwards reverse;
}

@-webkit-keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

#shutdown-animation-page {
  display: none;
}

#shutdown-animation-page p {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
}

#main-page {
  height: inherit;
  /*display: none;*/
}

.body-container {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 8px;
}

header {
  /* ヘッダーエリア定義 */
  background-color: rgb(65, 105, 225, 0.6);
  grid-column: 1 / span 16;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

/* タイトルエリア */
header p {
  grid-column: 1 / span 8;
  grid-row: 1 / span 1;
  margin: auto 0;
  padding-left: 1em;
}

header button {
  /* ヘッダーエリア */
  grid-column: 15 / span 2;
  grid-row: 1 / span 1;
}


/* ナビゲーションエリア定義 */
nav {
  background-color: rgb(65, 105, 225, 0.6);
  grid-column: 1 / span 3;
  grid-row: 2 / span 7;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

main {
  background-color: rgb(65, 105, 225, 0.6);
  grid-column: 4 / span 10;
  grid-row: 2 / span 7;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.element-frame1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 1%;
}

.element-frame2 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 1%;
}

.box {
  height: 100%;
  background-color: rgb(65, 105, 225, 0);
  border: solid;
  border-color: rgb(77, 140, 186);
  border-width: 0.5%;
}

.box .box-title {
  background-color: rgb(77, 140, 186);
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0.2em;
}

.element-button1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 5% 4% 1% 4%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.element-button2 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 5% 4% 1% 4%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

/* ＶＰ映像切替ポップアップページ */
.popup-switcher-out1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  /* ＶＰ映像切替ポップアップページ表示スイッチ */
  /*display: none;*/
}

#vp-btn1-state0 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
}

#vp-btn1-state1 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#vp-btn2-state0 {
  grid-column: 5 / span 3;
  grid-row: 2 / span 3;
}

#vp-btn2-state1 {
  grid-column: 5 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#vp-btn3-state0 {
  grid-column: 9 / span 3;
  grid-row: 2 / span 3;
}

#vp-btn3-state1 {
  grid-column: 9 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#vp-btn4-state0 {
  grid-column: 13 / span 3;
  grid-row: 2 / span 3;
}

#vp-btn4-state1 {
  grid-column: 13 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#vp-btn5-state0 {
  grid-column: 1 / span 3;
  grid-row: 6 / span 3;
}

#vp-btn5-state1 {
  grid-column: 1 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#vp-btn6-state0 {
  grid-column: 5 / span 3;
  grid-row: 6 / span 3;
}

#vp-btn6-state1 {
  grid-column: 5 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#vp-btn7-state0 {
  grid-column: 9 / span 3;
  grid-row: 6 / span 3;
}

#vp-btn7-state1 {
  grid-column: 9 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#vp-btn8-state0 {
  grid-column: 13 / span 3;
  grid-row: 6 / span 3;
}

#vp-btn8-state1 {
  grid-column: 13 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

/* モニター映像切替ポップアップページ */
.popup-switcher-out2 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  /* モニター映像切替ポップアップページ表示スイッチ */
  display: none;
}

#moni-btn1-state0 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
}

#moni-btn1-state1 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#moni-btn2-state0 {
  grid-column: 5 / span 3;
  grid-row: 2 / span 3;
}

#moni-btn2-state1 {
  grid-column: 5 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#moni-btn3-state0 {
  grid-column: 9 / span 3;
  grid-row: 2 / span 3;
}

#moni-btn3-state1 {
  grid-column: 9 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#moni-btn4-state0 {
  grid-column: 13 / span 3;
  grid-row: 2 / span 3;
}

#moni-btn4-state1 {
  grid-column: 13 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#moni-btn5-state0 {
  grid-column: 1 / span 3;
  grid-row: 6 / span 3;
}

#moni-btn5-state1 {
  grid-column: 1 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#moni-btn6-state0 {
  grid-column: 5 / span 3;
  grid-row: 6 / span 3;
}

#moni-btn6-state1 {
  grid-column: 5 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#moni-btn7-state0 {
  grid-column: 9 / span 3;
  grid-row: 6 / span 3;
}

#moni-btn7-state1 {
  grid-column: 9 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#moni-btn8-state0 {
  grid-column: 13 / span 3;
  grid-row: 6 / span 3;
}

#moni-btn8-state1 {
  grid-column: 13 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

/* ＶＰ操作ポップアップページ */
.popup-vp-control {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  /* ＶＰ操作ポップアップページ表示スイッチ */
  display: none;
}

#vp-control-btn1-state0 {
  grid-column: 3 / span 3;
  grid-row: 4 / span 3;
}

#vp-control-btn1-state1 {
  grid-column: 3 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

#vp-control-btn2-state0 {
  grid-column: 7 / span 3;
  grid-row: 4 / span 3;
}

#vp-control-btn2-state1 {
  grid-column: 7 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

#vp-control-btn3-state0 {
  grid-column: 11 / span 3;
  grid-row: 4 / span 3;
}

#vp-control-btn3-state1 {
  grid-column: 11 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

/* スクリーン操作ポップアップページ */
.popup-screen-control {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  /* スクリーン操作ポップアップページ表示スイッチ */
  display: none;
}

#sc-control-btn1-state0 {
  grid-column: 3 / span 3;
  grid-row: 4 / span 3;
}

#sc-control-btn1-state1 {
  grid-column: 3 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

#sc-control-btn2-state0 {
  grid-column: 7 / span 3;
  grid-row: 4 / span 3;
}

#sc-control-btn2-state1 {
  grid-column: 7 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

#sc-control-btn3-state0 {
  grid-column: 11 / span 3;
  grid-row: 4 / span 3;
}

#sc-control-btn3-state1 {
  grid-column: 11 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

/* 照明操作ポップアップページ */
.popup-light-control {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  /* 照明操作ポップアップページ表示スイッチ */
  display: none;
}

#light-control-btn1-state0 {
  grid-column: 3 / span 3;
  grid-row: 4 / span 3;
}

#light-control-btn1-state1 {
  grid-column: 3 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

#light-control-btn2-state0 {
  grid-column: 7 / span 3;
  grid-row: 4 / span 3;
}

#light-control-btn2-state1 {
  grid-column: 7 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

#light-control-btn3-state0 {
  grid-column: 11 / span 3;
  grid-row: 4 / span 3;
}

#light-control-btn3-state1 {
  grid-column: 11 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

/* 録画映像選択ポップアップページ */
.popup-rec-control {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  /* 録画映像選択ポップアップページ表示スイッチ */
  display: none;
}

#rec-control-btn1-state0 {
  grid-column: 3 / span 3;
  grid-row: 4 / span 3;
}

#rec-control-btn1-state1 {
  grid-column: 3 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

#rec-control-btn2-state0 {
  grid-column: 7 / span 3;
  grid-row: 4 / span 3;
}


#rec-control-btn2-state1 {
  grid-column: 7 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

#rec-control-btn3-state0 {
  grid-column: 11 / span 3;
  grid-row: 4 / span 3;
}

#rec-control-btn3-state1 {
  grid-column: 11 / span 3;
  grid-row: 4 / span 3;
  display: none;
}

/* 下側ポップアップページ リモコン角ボタン用 */
.element-button2-squer {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 5% 4% 1% 4%;
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

/* ブルーレイリモコンポップアップページ */
.popup-bluray-control {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  /* ブルーレイリモコンポップアップページ表示スイッチ */
  display: none;
}

#bluray-control-btn1-state0 {
  grid-column: 3 / span 3;
  grid-row: 2 / span 3;
}

#bluray-control-btn1-state1 {
  grid-column: 3 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#bluray-control-btn2-state0 {
  grid-column: 7 / span 3;
  grid-row: 2 / span 3;
}

#bluray-control-btn2-state1 {
  grid-column: 7 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#bluray-control-btn3-state0 {
  grid-column: 11 / span 3;
  grid-row: 2 / span 3;
}

#bluray-control-btn3-state1 {
  grid-column: 11 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#bluray-control-btn4-state0 {
  grid-column: 3 / span 3;
  grid-row: 6 / span 3;
}

#bluray-control-btn4-state1 {
  grid-column: 3 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#bluray-control-btn5-state0 {
  grid-column: 7 / span 3;
  grid-row: 6 / span 3;
}

#bluray-control-btn5-state1 {
  grid-column: 7 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#bluray-control-btn6-state0 {
  grid-column: 11 / span 3;
  grid-row: 6 / span 3;
}

#bluray-control-btn6-state1 {
  grid-column: 11 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#bluray-control-btn7-state0 {
  grid-column: 7 / span 3;
  grid-row: 10 / span 3;
}

#bluray-control-btn7-state1 {
  grid-column: 7 / span 3;
  grid-row: 10 / span 3;
  display: none;
}

#bluray-control-btn8-state0 {
  grid-column: 20 / span 3;
  grid-row: 2 / span 3;
}

#bluray-control-btn8-state1 {
  grid-column: 20 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#bluray-control-btn9-state0 {
  grid-column: 24 / span 3;
  grid-row: 2 / span 3;
}

#bluray-control-btn9-state1 {
  grid-column: 24 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#bluray-control-btn10-state0 {
  grid-column: 20 / span 3;
  grid-row: 6 / span 3;
}

#bluray-control-btn10-state1 {
  grid-column: 20 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#bluray-control-btn11-state0 {
  grid-column: 24 / span 3;
  grid-row: 6 / span 3;
}

#bluray-control-btn11-state1 {
  grid-column: 24 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#bluray-control-btn12-state0 {
  grid-column: 28 / span 3;
  grid-row: 6 / span 3;
}

#bluray-control-btn12-state1 {
  grid-column: 28 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#bluray-control-btn13-state0 {
  grid-column: 24 / span 3;
  grid-row: 10 / span 3;
}

#bluray-control-btn13-state1 {
  grid-column: 24 / span 3;
  grid-row: 10 / span 3;
  display: none;
}

/* カメラリモコンポップアップページ */
.popup-camera-control {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  /* カメラリモコンポップアップページ表示スイッチ */
  display: none;
}

#camera-control-btn1-state0 {
  grid-column: 3 / span 3;
  grid-row: 2 / span 3;
}

#camera-control-btn1-state1 {
  grid-column: 3 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#camera-control-btn2-state0 {
  grid-column: 7 / span 3;
  grid-row: 2 / span 3;
}

#camera-control-btn2-state1 {
  grid-column: 7 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#camera-control-btn3-state0 {
  grid-column: 11 / span 3;
  grid-row: 2 / span 3;
}

#camera-control-btn3-state1 {
  grid-column: 11 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#camera-control-btn4-state0 {
  grid-column: 3 / span 3;
  grid-row: 6 / span 3;
}

#camera-control-btn4-state1 {
  grid-column: 3 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#camera-control-btn5-state0 {
  grid-column: 11 / span 3;
  grid-row: 6 / span 3;
}

#camera-control-btn5-state1 {
  grid-column: 11 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#camera-control-btn6-state0 {
  grid-column: 7 / span 3;
  grid-row: 10 / span 3;
}

#camera-control-btn6-state1 {
  grid-column: 7 / span 3;
  grid-row: 10 / span 3;
  display: none;
}

#camera-control-btn7-state0 {
  grid-column: 20 / span 3;
  grid-row: 2 / span 3;
}

#camera-control-btn7-state1 {
  grid-column: 20 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#camera-control-btn8-state0 {
  grid-column: 24 / span 3;
  grid-row: 2 / span 3;
}

#camera-control-btn8-state1 {
  grid-column: 24 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#camera-control-btn9-state0 {
  grid-column: 28 / span 3;
  grid-row: 2 / span 3;
}

#camera-control-btn9-state1 {
  grid-column: 28 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#camera-control-btn10-state0 {
  grid-column: 20 / span 3;
  grid-row: 6 / span 3;
}

#camera-control-btn10-state1 {
  grid-column: 20 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#camera-control-btn11-state0 {
  grid-column: 24 / span 3;
  grid-row: 6 / span 3;
}

#camera-control-btn11-state1 {
  grid-column: 24 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#camera-control-btn12-state0 {
  grid-column: 28 / span 3;
  grid-row: 6 / span 3;
}

#camera-control-btn12-state1 {
  grid-column: 28 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#camera-control-btn13-state0 {
  grid-column: 20 / span 11;
  grid-row: 10 / span 3;
}

#camera-control-btn13-state1 {
  grid-column: 20 / span 11;
  grid-row: 10 / span 3;
  /*display: none;*/
}

/* 書画カメラリモコンポップアップページ */
.popup-ohc-control {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  /* 書画カメラリモコンポップアップページ表示スイッチ */
  display: none;
}

#ohc-control-txt1 {
  grid-column: 4 / span 4;
  grid-row: 2 / span 3;
  text-align: center;
  margin: auto;
}

#ohc-control-btn1-state0 {
  grid-column: 8 / span 4;
  grid-row: 2 / span 3;
}

#ohc-control-btn1-state1 {
  grid-column: 8 / span 4;
  grid-row: 2 / span 3;
  display: none;
}

#ohc-control-txt2 {
  grid-column: 14 / span 3;
  grid-row: 2 / span 3;
  text-align: center;
  margin: auto;
}

#ohc-control-btn2-state0 {
  grid-column: 17 / span 3;
  grid-row: 2 / span 3;
}

#ohc-control-btn2-state1 {
  grid-column: 17 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#ohc-control-btn3-state0 {
  grid-column: 25 / span 3;
  grid-row: 2 / span 3;
}

#ohc-control-btn3-state1 {
  grid-column: 25 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#ohc-control-txt3 {
  grid-column: 14 / span 3;
  grid-row: 6 / span 3;
  text-align: center;
  margin: auto;
}

#ohc-control-btn4-state0 {
  grid-column: 17 / span 3;
  grid-row: 6 / span 3;
}

#ohc-control-btn4-state1 {
  grid-column: 17 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#ohc-control-btn5-state0 {
  grid-column: 25 / span 3;
  grid-row: 6 / span 3;
}

#ohc-control-btn5-state1 {
  grid-column: 25 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#ohc-control-txt4 {
  grid-column: 14 / span 3;
  grid-row: 10 / span 3;
  text-align: center;
  margin: auto;
}

#ohc-control-btn6-state0 {
  grid-column: 17 / span 3;
  grid-row: 10 / span 3;
}

#ohc-control-btn6-state1 {
  grid-column: 17 / span 3;
  grid-row: 10 / span 3;
  display: none;
}

#ohc-control-btn7-state0 {
  grid-column: 21 / span 3;
  grid-row: 10 / span 3;
}

#ohc-control-btn7-state1 {
  grid-column: 21 / span 3;
  grid-row: 10 / span 3;
  display: none;
}

#ohc-control-btn8-state0 {
  grid-column: 25 / span 3;
  grid-row: 10 / span 3;
}

#ohc-control-btn8-state1 {
  grid-column: 25 / span 3;
  grid-row: 10 / span 3;
  display: none;
}

/* ＳＳＲリモコンポップアップページ */
.popup-ssr-control {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);

  /* ＳＳＲリモコンポップアップページ表示スイッチ */
  display: none;
}

#ssr-control-btn1-state0 {
  grid-column: 9 / span 3;
  grid-row: 2 / span 3;
}

#ssr-control-btn1-state1 {
  grid-column: 9 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#ssr-control-btn2-state0 {
  grid-column: 13 / span 3;
  grid-row: 2 / span 3;
}

#ssr-control-btn2-state1 {
  grid-column: 13 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#ssr-control-btn3-state0 {
  grid-column: 17 / span 3;
  grid-row: 2 / span 3;
}

#ssr-control-btn3-state1 {
  grid-column: 17 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

#ssr-control-btn4-state0 {
  grid-column: 9 / span 3;
  grid-row: 6 / span 3;
}

#ssr-control-btn4-state1 {
  grid-column: 9 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#ssr-control-btn5-state0 {
  grid-column: 13 / span 3;
  grid-row: 6 / span 3;
}

#ssr-control-btn5-state1 {
  grid-column: 13 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#ssr-control-btn6-state0 {
  grid-column: 17 / span 3;
  grid-row: 6 / span 3;
}

#ssr-control-btn6-state1 {
  grid-column: 17 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#ssr-control-btn7-state0 {
  grid-column: 21 / span 3;
  grid-row: 6 / span 3;
}

#ssr-control-btn7-state1 {
  grid-column: 21 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

#ssr-control-btn8-state0 {
  grid-column: 9 / span 3;
  grid-row: 10 / span 3;
}

#ssr-control-btn8-state1 {
  grid-column: 9 / span 3;
  grid-row: 10 / span 3;
  display: none;
}

#ssr-control-btn9-state0 {
  grid-column: 13 / span 3;
  grid-row: 10 / span 3;
}

#ssr-control-btn9-state1 {
  grid-column: 13 / span 3;
  grid-row: 10 / span 3;
  display: none;
}

#ssr-control-btn10-state0 {
  grid-column: 17 / span 3;
  grid-row: 10 / span 3;
}

#ssr-control-btn10-state1 {
  grid-column: 17 / span 3;
  grid-row: 10 / span 3;
  display: none;
}

#ssr-control-btn11-state0 {
  grid-column: 21 / span 3;
  grid-row: 10 / span 3;
}

#ssr-control-btn11-state1 {
  grid-column: 21 / span 3;
  grid-row: 10 / span 3;
  display: none;
}

/* 右サイドバーエリア定義 */
aside {
  background-color: rgb(65, 105, 225, 0.6);
  grid-column: 14 / span 3;
  grid-row: 2 / span 7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

#audio-txt1 {
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
  margin: auto;
}

#audio-txt2 {
  grid-column: 3 / span 2;
  grid-row: 4 / span 2;
  margin: auto;
}

#slider-wrapper-av {
  grid-column: 1 / span 2;
  grid-row: 6 / span 7;
}

#slider-wrapper-av #item-main-vol[type="range"] {
  /* Chrome, Opera, Safari 描画方向指定 */
  -webkit-appearance: slider-vertical;
  /* IE, Edge 描画方向指定 */
  writing-mode: bt-lr;
  height: 100%;
  width: 100%;
  margin: auto;
}

#slider-wrapper-mic {
  grid-column: 3 / span 2;
  grid-row: 6 / span 7;
}

#slider-wrapper-mic #item-mic-vol[type="range"] {
  /* Chrome, Opera, Safari 描画方向指定 */
  -webkit-appearance: slider-vertical;
  /* IE, Edge 描画方向指定 */
  writing-mode: bt-lr;
  height: 100%;
  width: 100%;
  margin: auto;
}

#audio-mute-btn1-state0 {
  grid-column: 1 / span 2;
  grid-row: 14 / span 2;
  margin: 5%;
}

#audio-mute-btn1-state1 {
  grid-column: 1 / span 2;
  grid-row: 14 / span 2;
  display: none;
}

#audio-mute-btn2-state0 {
  grid-column: 3 / span 2;
  grid-row: 14 / span 2;
  margin: 5%;
}

#audio-mute-btn2-state1 {
  grid-column: 3 / span 2;
  grid-row: 14 / span 2;
  margin: 5%;
  display: none;
}

#audio-details-btn-state0 {
  grid-column: 1 / span 4;
  grid-row: 17 / span 2;
  margin: 4%;
}

#audio-details-btn-state1 {
  grid-column: 1 / span 4;
  grid-row: 17 / span 2;
  margin: 4%;
  display: none;
}

/* フッターエリア定義 */
footer {
  background-color: rgb(65, 105, 225, 0.6);
  grid-column: 1 / span 16;
  grid-row: 9 / span 1;
}

footer p {
  margin-left: 1em;
}

/*
  シャットダウン確認ダイアログ
*/
.modal-dialog-container {
  height: inherit;
  grid-column: 1 / span 16;
  grid-row: 1 / span 9;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);

  /*
  ポジションをrelativeにしないとz-indexが効かずにポップアップページが
  最上位に表示されない
  */
  position: relative;
  /*
  opacityで指定すると、子要素も透明化されてしまうので
  バックグランドのみ透明化する場合は,rgbaで個別に透明化を指定しなければならない
  */
  background-color: rgb(0, 0, 0, 0.6);

  /* シャットダウン確認ダイアログ表示スイッチ */
  display: none;
}

.shutdown-dialog-box {
  grid-column: 6 / span 6;
  grid-row: 4 / span 3;
}

.shutdown-dialog-item {
  grid-column: 6 / span 6;
  grid-row: 4 / span 3;
  margin: 5% 4% 1% 4%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

#shutdown-message {
  grid-column: 1 / span 16;
  grid-row: 3 / span 2;
  margin: auto;
}

#shutdown-message p {
  color: black;
}

#shutdown-yes-btn-state0 {
  grid-column: 3 / span 5;
  grid-row: 5 / span 3;
  margin: 5%;
}

#shutdown-yes-btn-state1 {
  grid-column: 5 / span 5;
  grid-row: 5 / span 3;
  margin: 5%;
  display: none;
}

#shutdown-no-btn-state0 {
  grid-column: 10 / span 5;
  grid-row: 5 / span 3;
  margin: 5%;
}

#shutdown-no-btn-state1 {
  grid-column: 10 / span 5;
  grid-row: 5 / span 3;
  margin: 5%;
  display: none;
}

/*
  音量設定ダイアログ
*/
.volume-detail-container {
  height: inherit;
  grid-column: 1 / span 16;
  grid-row: 1 / span 9;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);

  /*
  ポジションをrelativeにしないとz-indexが効かずにポップアップページが
  最上位に表示されない
  */
  position: relative;
  /*
  opacityで指定すると、子要素も透明化されてしまうので
  バックグランドのみ透明化する場合は,rgbaで個別に透明化を指定しなければならない
  */
  background-color: rgb(0, 0, 0, 0.6);

  /* 音量設定ダイアログ表示スイッチ */
  display: none;
}

.volume-detail-dialog-box {
  grid-column: 4 / span 10;
  grid-row: 2 / span 7;
}

.volume-detail-dialog-item {
  grid-column: 4 / span 10;
  grid-row: 2 / span 7;
  margin: 5% 1% 1% 1%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

#mic1-txt {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
  margin: auto;
  color: black;
}

#mic2-txt {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
  margin: auto;
  color: black;
}

#mic3-txt {
  grid-column: 5 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
  margin: auto;
  color: black;
}

#mic4-txt {
  grid-column: 7 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
  margin: auto;
  color: black;
}

#mic5-txt {
  grid-column: 9 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
  margin: auto;
  color: black;
}

#mic6-txt {
  grid-column: 11 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
  margin: auto;
  color: black;
}

#mic7-txt {
  grid-column: 13 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
  margin: auto;
  color: black;
}

#mic8-txt {
  grid-column: 15 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
  margin: auto;
  color: black;
}

#slider-wrapper-mic1 {
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
}

#slider-wrapper-mic1 #slider-mic1[type="range"] {
  /* Chrome, Opera, Safari 描画方向指定 */
  -webkit-appearance: slider-vertical;
  /* IE, Edge 描画方向指定 */
  writing-mode: bt-lr;
  height: 100%;
  width: 100%;
  margin: auto;
}

#slider-wrapper-mic2 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 4;
}

#slider-wrapper-mic2 #slider-mic2[type="range"] {
  /* Chrome, Opera, Safari 描画方向指定 */
  -webkit-appearance: slider-vertical;
  /* IE, Edge 描画方向指定 */
  writing-mode: bt-lr;
  height: 100%;
  width: 100%;
  margin: auto;
}

#slider-wrapper-mic3 {
  grid-column: 5 / span 2;
  grid-row: 3 / span 4;
}

#slider-wrapper-mic3 #slider-mic3[type="range"] {
  /* Chrome, Opera, Safari 描画方向指定 */
  -webkit-appearance: slider-vertical;
  /* IE, Edge 描画方向指定 */
  writing-mode: bt-lr;
  height: 100%;
  width: 100%;
  margin: auto;
}

#slider-wrapper-mic4 {
  grid-column: 7 / span 2;
  grid-row: 3 / span 4;
}

#slider-wrapper-mic4 #slider-mic4[type="range"] {
  /* Chrome, Opera, Safari 描画方向指定 */
  -webkit-appearance: slider-vertical;
  /* IE, Edge 描画方向指定 */
  writing-mode: bt-lr;
  height: 100%;
  width: 100%;
  margin: auto;
}

#slider-wrapper-mic5 {
  grid-column: 9 / span 2;
  grid-row: 3 / span 4;
}

#slider-wrapper-mic5 #slider-mic5[type="range"] {
  /* Chrome, Opera, Safari 描画方向指定 */
  -webkit-appearance: slider-vertical;
  /* IE, Edge 描画方向指定 */
  writing-mode: bt-lr;
  height: 100%;
  width: 100%;
  margin: auto;
}

#slider-wrapper-mic6 {
  grid-column: 11 / span 2;
  grid-row: 3 / span 4;
}

#slider-wrapper-mic6 #slider-mic6[type="range"] {
  /* Chrome, Opera, Safari 描画方向指定 */
  -webkit-appearance: slider-vertical;
  /* IE, Edge 描画方向指定 */
  writing-mode: bt-lr;
  height: 100%;
  width: 100%;
  margin: auto;
}

#slider-wrapper-mic7 {
  grid-column: 13 / span 2;
  grid-row: 3 / span 4;
}

#slider-wrapper-mic7 #slider-mic7[type="range"] {
  /* Chrome, Opera, Safari 描画方向指定 */
  -webkit-appearance: slider-vertical;
  /* IE, Edge 描画方向指定 */
  writing-mode: bt-lr;
  height: 100%;
  width: 100%;
  margin: auto;
}

#slider-wrapper-mic8 {
  grid-column: 15 / span 2;
  grid-row: 3 / span 4;
}

#slider-wrapper-mic8 #slider-mic8[type="range"] {
  /* Chrome, Opera, Safari 描画方向指定 */
  -webkit-appearance: slider-vertical;
  /* IE, Edge 描画方向指定 */
  writing-mode: bt-lr;
  height: 100%;
  width: 100%;
  margin: auto;
}

#slider-mute-btn1-state0 {
  grid-column: 1 / span 2;
  grid-row: 7 / span 1;
  margin: 5%;
}

#slider-mute-btn1-state1 {
  grid-column: 1 / span 2;
  grid-row: 7 / span 2;
  display: none;
}

#slider-mute-btn2-state0 {
  grid-column: 3 / span 2;
  grid-row: 7 / span 1;
  margin: 5%;
}

#slider-mute-btn2-state1 {
  grid-column: 3 / span 2;
  grid-row: 7 / span 2;
  display: none;
}

#slider-mute-btn3-state0 {
  grid-column: 5 / span 2;
  grid-row: 7 / span 1;
  margin: 5%;
}

#slider-mute-btn3-state1 {
  grid-column: 5 / span 2;
  grid-row: 7 / span 2;
  display: none;
}

#slider-mute-btn4-state0 {
  grid-column: 7 / span 2;
  grid-row: 7 / span 1;
  margin: 5%;
}

#slider-mute-btn4-state1 {
  grid-column: 7 / span 2;
  grid-row: 7 / span 2;
  display: none;
}

#slider-mute-btn5-state0 {
  grid-column: 9 / span 2;
  grid-row: 7 / span 1;
  margin: 5%;
}

#slider-mute-btn5-state1 {
  grid-column: 9 / span 2;
  grid-row: 7 / span 2;
  display: none;
}

#slider-mute-btn6-state0 {
  grid-column: 11 / span 2;
  grid-row: 7 / span 1;
  margin: 5%;
}

#slider-mute-btn6-state1 {
  grid-column: 11 / span 2;
  grid-row: 7 / span 2;
  display: none;
}

#slider-mute-btn7-state0 {
  grid-column: 13 / span 2;
  grid-row: 7 / span 1;
  margin: 5%;
}

#slider-mute-btn7-state1 {
  grid-column: 13 / span 2;
  grid-row: 7 / span 2;
  display: none;
}

#slider-mute-btn8-state0 {
  grid-column: 15 / span 2;
  grid-row: 7 / span 1;
  margin: 5%;
}

#slider-mute-btn8-state1 {
  grid-column: 15 / span 2;
  grid-row: 7 / span 2;
  display: none;
}

#volume-detail-close-btn-state0 {
  grid-column: 8 / span 2;
  grid-row: 9 / span 1;
  margin: 5%;
}

#volume-detail-close-btn-state1 {
  grid-column: 8 / span 2;
  grid-row: 9 / span 1;
  margin: 5%;
  display: none;
}



















