@charset "utf-8";

/* 自動で付く余白をリセット */
/*
*{
padding: 0;
margin: auto;
}
*/

html {
  height: 100%;
}


body {
  margin: auto;
  height: inherit;
  font-family: sans-serif;
  background-image: url(img/430995121-539072_3840x2160-48XV-1920x1080-MM-100.jpg);
}

.body-container {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 8px;
}

header {
  /* ヘッダーエリア定義 */
  background-color: royalblue;
  grid-column: 1 / span 16;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
}

/* タイトルエリア */
header p {
  background-color: green;
  grid-column: 1 / span 4;

}

header button {
  background-color: green;
  grid-column: 15 / span 2;
}



nav {
  /* ナビゲーション */
  background-color: royalblue;
  grid-column: 1 / span 3;
  grid-row: 2 / span 7;

}

main {
  /* メインエリア定義 */
  background-color: royalblue;
  grid-column: 4 / span 10;
  grid-row: 2 / span 7;
}

aside {
  /* サイドバーエリア定義 */
  background-color: royalblue;
  grid-column: 14 / span 3;
  grid-row: 2 / span 7;

}
footer {
  /* フッターエリア定義 */
  background-color: royalblue;
  grid-column: 1 / span 16;
  grid-row: 9 / span 1;
}


























