@charset "utf-8";

/* 自動で付く余白をリセット */
/*
*{
  padding: 0;
  margin: auto;
}
*/

html {
  height: 100%;
}

body {
  /*
  background-image: url("/img/3722440067-1872285-vgqM-1920x1080-MM-100.jpg");
  */
  background-color: midnightblue;
  height: 100%;
  margin: auto;
}

.start-page {
  display: none;
}

.start-btn-state0 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
}

.start-btn-state1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
  display: none;
}

.startup-page {
  display: none;
}

.startup-page p {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: 120px;
  height: 120px;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: white;
}

.spinner.type1 {
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: #fff rgba(255, 255, 255, 0.12) rgba(255, 255, 255, 0.12);
  /* ローディング要素のアニメーションを指定 */
  -webkit-animation: spinner1_1 1.5s infinite linear forwards;
  animation: spinner1_1 1.5s infinite linear forwards;
}

.spinner.type1 span {
  /* Loading テキストのアニメーションを指定 */
  animation: spinner_loading_text 1.5s infinite linear forwards reverse;
}

@-webkit-keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
    transform: translate(-50%, -50%) rotate(180deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.shutdown-page {
  display: none;
}

.shutdown-page p {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-size: 22px;
}




.body-container {
  height: inherit;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 8px;
}

main {
  background-color: royalblue;
  grid-column: 4 / span 10;
  grid-row: 2 / span 7;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /*display: none;*/
}

.popup-switcher-out1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  /*display: none;*/
}

.element-frame {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 1%;
}

.box {
  height: 100%;
  background-color: skyblue;
}

.box .box-title {
  background-color: gray;
  text-align: center;
  padding: 0.2em;
}

.element-button {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  margin: 7% 4% 4% 4%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.vp-btn1-state0 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
}

.vp-btn1-state1 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

.vp-btn2-state0 {
  grid-column: 5 / span 3;
  grid-row: 2 / span 3;
}

.vp-btn2-state1 {
  grid-column: 5 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

.vp-btn3-state0 {
  grid-column: 9 / span 3;
  grid-row: 2 / span 3;
}

.vp-btn3-state1 {
  grid-column: 9 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

.vp-btn4-state0 {
  grid-column: 13 / span 3;
  grid-row: 2 / span 3;
}

.vp-btn4-state1 {
  grid-column: 13 / span 3;
  grid-row: 2 / span 3;
  display: none;
}

.vp-btn5-state0 {
  grid-column: 1 / span 3;
  grid-row: 6 / span 3;
}

.vp-btn5-state1 {
  grid-column: 1 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

.vp-btn6-state0 {
  grid-column: 5 / span 3;
  grid-row: 6 / span 3;
}

.vp-btn6-state1 {
  grid-column: 5 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

.vp-btn7-state0 {
  grid-column: 9 / span 3;
  grid-row: 6 / span 3;
}

.vp-btn7-state1 {
  grid-column: 9 / span 3;
  grid-row: 6 / span 3;
  display: none;
}

.vp-btn8-state0 {
  grid-column: 13 / span 3;
  grid-row: 6 / span 3;
}

.vp-btn8-state1 {
  grid-column: 13 / span 3;
  grid-row: 6 / span 3;
  display: none;
}










.main-container2 {
  background-color: brown grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  margin: 1%;
}
