@charset "utf-8";

/* 自動で付く余白をリセット */
*{
  /*
  padding: 0;
  margin: auto;
  */
}

html {
}

body {
  /*
  background-image: url("/img/3722440067-1872285-vgqM-1920x1080-MM-100.jpg");
  */
  background-color: cadetblue;
}

figure {
  float: left;
}











