@charset "utf-8";

/* 自動で付く余白をリセット */
*{
  /*
  padding: 0;
  margin: auto;
  */
}

body {
  background-image: url("/img/3722440067-1872285-vgqM-1920x1080-MM-100.jpg");
  font-family: sans-serif;
}

/*
* グリッドレイアウト css
*/
#container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr auto 1fr;
  column-gap: 5px;
  grid-row-gap: 5px;
}

/*
* ヘッダーエリア css
*/
header {
  grid-column: 1/5;
  grid-row: 1/2;
  background-color: rgb(65, 105, 225, 0.6);
  text-align: center;
  color: white;
}

/*
* 左ナビエリア css
*/
nav {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: rgb(65, 105, 225, 0.6);
  text-align: center;
  color: white;
}

/*
* メインエリア css
*/
main {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: rgb(65, 105, 225, 0.6);
  text-align: center;
  color: white;
  padding-bottom: 10em;
}

/*
* 右サイドエリア css
*/
aside {
  grid-column: 3/5;
  grid-row: 2/3;
  background-color: rgb(65, 105, 225, 0.6);
  text-align: center;
  color: white;
}

/*
* フッター エリアcss
*/
footer {
  grid-column: 1/5;
  grid-row: 3/4;
  background-color: rgb(65, 105, 225, 0.6);
  color: white;
}


/*
 * スタートページcss
 */
#start-page {
  display: none;
}

/*
* スタートアップページcss
*/
#startup-page {
  display: none;
}

/*
* メインページcss
*/
#main-page {
}

/* ナビゲーションエリア */
/* 映像選択ボタンcss */
#item-video-select-btn {
  border-radius: 5px;
  background-color: rgb(0, 128, 0, 0.7);
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  border-style: none;
  outline: none;
  width: 70%;
}

/* 音量詳細ボタンcss */
#item-audio-details-btn {
  border-radius: 5px;
  background-color: rgb(0, 128, 0, 0.7);
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  border-style: none;
  outline: none;
  width: 70%;
}

/* 環境設定ボタンcss */
#item-envronments-btn {
  border-radius: 5px;
  background-color: rgb(0, 128, 0, 0.7);
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  border-style: none;
  outline: none;
  width: 70%;
}

/* メインエリア */
/* 操作枠css */
.box29 {
  margin: 2em 1em;
  background-color: rgb(220, 239, 255);
}
.box29 .box-title {
  font-size: 1.2em;
  background: #539bd3;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box29 button {
  /*padding: 1em 1em;*/
  margin: 1em 1em;
}

/* ポップアップ枠css */
.box30 {
  margin: 1em;
  background-color: rgb(220, 239, 255);
}
.box30 .box-title {
  font-size: 1.2em;
  background: #539bd3;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box30 button {
  padding: 1em;
  margin: 0.5em;
}

/* ボタンcss */
main button {
  border-radius: 5px;
  background-color: rgb(0, 128, 0, 0.7);
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
  color: white;
  cursor: pointer;
  border-style: none;
  outline: none;
  width: 15%;
}

#item-btn1 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn2 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn3 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn4 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn-main-off {
  background-color: rgb(0, 128, 0, 0.7);
}

#item-btn5 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn6 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn7 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn8 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn-monitor-off {
  background-color: rgb(0, 128, 0, 0.7);
}

#item-btn9 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn10 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn11 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn12 {
  background-color: rgb(0, 128, 0, 0.7);
}
#item-btn13 {
  background-color: rgb(0, 128, 0, 0.7);
}

/* 右サイドエリア */
/* シャットダウンボタンcss */
#item-shutdown-btn {
  border-radius: 5px;
  background-color: rgb(128, 0, 0, 0.7);
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  border-style: none;
  outline: none;
  width: 70%;
}

/* 音量スライダー＆文字css */
.slider-wrapper {
  display: inline-block;
  width: 6em;
  height: 15em;
  padding: 0;
  margin-top: 5em;
}

.slider-wrapper #item-main-vol[type="range"] {
  width: 15em;
  height: 6em;
  margin: 0;
  transform-origin: 7.5em 7.5em;
  transform: rotate(-90deg);
}

.slider-wrapper #item-mic-vol[type="range"] {
  width: 15em;
  height: 6em;
  margin: 0;
  transform-origin: 7.5em 7.5em;
  transform: rotate(-90deg);
}

/* ミュートボタンcss */
#item-audio-mute-btn {
  border-radius: 5px;
  background-color: rgb(0, 128, 0, 0.7);
  padding: 1.5em 0;
  margin: 1em;
  text-align: center;
  color: white;
  cursor: pointer;
  border-style: none;
  outline: none;
  width: 30%;
}

#item-mic-mute-btn {
  border-radius: 5px;
  background-color: rgb(0, 128, 0, 0.7);
  padding: 1.5em 0;
  margin: 1em;
  text-align: center;
  color: white;
  cursor: pointer;
  border-style: none;
  outline: none;
  width: 30%;
}

/* フッターエリア */
/* フッター文字css */
#footer-txt {
  text-indent: 1em;
}

/* シャットダウンページ */
#shutdown-page {
  display: none;
}

/*
 * ポップアップページ
 */
/* シャットダウン確認 ポップアップページcss */
#shutdown-cofirmation-popup {
  display: none;
}

/* ダミー ポップアップページcss */
#dummy-popup {
  display: none;
}

/* 環境操作 ポップアップページcss */
#environments-popup {
  display: none;
}

/* 音量詳細 ポップアップページcss */
#mic-details-popup {
  display: none;
}

/* ブルーレイ操作 ポップアップページcss */
#blu-ray-popup {
  display: none;
}

/* カメラ操作 ポップアップページcss */
#camera-popup {
  display: none;
}







